Checks: >
    clang-analyzer-*,
    bugprone-*,
    performance-*,
    modernize-*,
    readability-*,
    -modernize-use-trailing-return-tyoe

WarningsAsErrors: '*'

HeaderFilterRegex: '^(src|include)/'
FormatStyle: file