Checks: >
    clang-analyzer-*,
    bugprone-*,
    performance-*,
    modernize-*,
    readability-*,
    -modernize-use-trailing-return-type

WarningsAsErrors: ''

HeaderFilterRegex: '^(src|include|tests|benchmark)/'
FormatStyle: file