Checks: 'clang-analyzer-*,bugprone-*,performance-*,modernize-*,readability-*,-modernize-use-trailing-return-type,-bugprone-suspicious-include'
WarningsAsErrors: ''
HeaderFilterRegex: '.*/moderation-service/(src|tests|benchmark|include)/.*'
FormatStyle: file