# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# CMake build folder
/build/
*.o
*.obj
*.dll
*.so
*.log
build/
cmake-build-*/

# Conan
.conan2/
conan.lock

# CMake user presets
CMakeUserPresets.json

external/
external/tsl-hat-trie/